.divcorner1{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-top: 10px;
    background-color: chartreuse;
    border-radius: 20px;
    text-align: center;
}

.divcorner2{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-top: 10px;
    background-color: blueviolet;
    border-radius: 20px 80px 20px;
    text-align: center;
}
.divcorner3{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-top: 10px;
    text-align: center;
    border-radius: 80px 20px 80px;
    background-color: cadetblue;
}
.divcorner4{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-top: 10px;
}